/**
 * Header
 */

.jeg_menu .menu-item-badge {
    padding: 2px 5px !important;
}

/* Social Icons */

.socials_widget .fa.fa-telegram::before {
    background-image: url("telegram-dark.svg");
}

/* Search Icon */

.jeg_header .jeg_bottombar .jeg_nav_row .jeg_nav_item.search_icon .jeg_search_toggle i,
.jeg_navbar_mobile .jeg_nav_row .jeg_nav_item .jeg_search_toggle i {
    background: #F2F2F2;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.jeg_header .jeg_stickybar .jeg_nav_row .jeg_nav_item.search_icon .jeg_search_toggle i {
    background: #F2F2F2;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.jeg_navbar_mobile .jeg_mobile_logo {
    margin-left: 30px;
}

.jeg_header .jeg_bottombar .jeg_nav_row .jeg_nav_item.search_icon .jeg_search_form,
.jeg_header .jeg_bottombar .jeg_nav_row .jeg_nav_item.search_icon .jeg_search_result,
.jeg_navbar_mobile .jeg_nav_row .jeg_nav_item .jeg_search_form,
.jeg_navbar_mobile .jeg_nav_row .jeg_nav_item .jeg_search_result {
    right: 0 !important;
}

.jeg_navbar_mobile .jeg_nav_row .jeg_nav_item .jeg_search_toggle::before {
    right: 17px !important;
}

.jeg_navbar_mobile .jeg_nav_row .jeg_nav_item .jeg_search_toggle::after {
    right: 16px !important;
}

.jeg_header .jeg_stickybar .jeg_nav_row .jeg_nav_item.search_icon .jeg_search_form,
.jeg_header .jeg_stickybar .jeg_nav_row .jeg_nav_item.search_icon .jeg_search_result {
    right: -5px !important;
}

/*
.jeg_navbar_mobile_wrapper .header__sponsored-btn img {
    z-index: -1;
}
*/

/* Sponsored Button */

.header__sponsored-btn--vempire a {
    background: #000000 !important;
    padding: 0 10px 0 6px;
    opacity: 1 !important;
}

.header__sponsored-btn--vempire a img {
    height: 30px;
    position: static !important;
}

.header__sponsored-btn--vempire > img  {
    margin-left: -14px;
    margin-right: 0;
}

.header__sponsored-btn--4j a {
    background: none !important;
    padding: 0 !important;
}

.header__sponsored-btn--4j a img {
    height: 36px;
}



/**
 * Archive
 */

.jeg_postblock_3 .jeg_post .jeg_thumb {
    width: calc(50% - 15px);
}

.jeg_postblock_3 .jeg_post .jeg_post_title,
.jeg_postblock_17 .jeg_post:first-child .jeg_post_title {
    font-size: 25px !important;
}

.jeg_postblock_22 .jeg_post .jeg_post_title {
    font-size: 19px;
}

.jeg_postblock_17 .jeg_post:first-child .jeg_thumb .thumbnail-container {
    padding-bottom: 71.5%;
}

.jeg_postblock_22 .jeg_post .jeg_post_category,
.jeg_postblock_17 .jeg_post .jeg_post_category {
    display: none;
}

/* Hero */

.jeg_heroblock.jeg_hero_style_1 .jeg_post .jeg_block_container {
    border-radius: 6px;
}

.jeg_heroblock.jeg_hero_style_1 .jeg_post .jeg_post_category {
    display: none;
}

.jeg_heroblock.jeg_hero_style_1 .jeg_post .jeg_post_title {
    margin: 0 0 5px 0;
}

/* Section Heading */

.jeg_block_heading_6 {
    border-bottom-color: #011627 !important;
}

.jeg_block_heading_6::after {
    background: transparent !important;
}

/* Load More */

.jeg_block_loadmore a {
    height: 60px !important;
    font-size: 14px !important;
    line-height: 60px !important;
}

/* Category Heading */

.jnews_category_header_top .jeg_cat_header {
    background: none;
    border: 0;
    padding: 0;
    margin: 0 0 30px 0;
}

.jnews_category_header_top .jeg_cat_header h1 {
    font-weight: 700;
}



/**
 * Single
 */

/* Hero */

/*
.single .post-wrapper .post-wrap:first-child .single-post-hero {
    margin-top: 30px;
}
*/

.single .post-wrapper .post-wrap:not(:first-child) .single-post-hero {
    margin-top: 40px;
}

.single .single-post-hero {
    position: relative;
    margin-bottom: 30px;
}

.single .single-post-hero-background {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.single .single-post-hero-background::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.95) 100%);
}

.single .single-post-hero-background .background-img {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.single .single-post-hero .single-post-hero-ad {
    width: 100%;
    text-align: right;
    position: absolute;
    bottom: 36px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    pointer-events: none;
}

.single .single-post-hero .single-post-hero-ad a {
    display: inline-block;
    background: #1432a2;
    border-radius: 4px;
    padding: 10px 22px;
    transition: all 0.2s ease;
    pointer-events: initial;
}

.single .single-post-hero .single-post-hero-ad a:hover {
    opacity: 0.8;
}

.single .single-post-hero .single-post-hero-ad .logo {
    position: relative;
    top: -1px;
    height: 20px;
}

.single .single-post-hero .single-post-hero-content {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.single .single-post-hero .single-post-hero-content .entry-header {
    max-width: 90%;
    width: 680px;
    margin: 0 0 40px 0;
    z-index: 1;
}

.single .single-post-hero .single-post-hero-content .entry-header::before {
    display: none;
}

.single .single-post-hero .single-post-hero-content .entry-header .jeg_post_title {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.025em;
    line-height: 1.47;
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
}

.single .single-post-hero .single-post-hero-content .entry-header .jeg_post_meta {
    color: rgba(255, 255, 255, 0.64);
    text-align: left;
    position: relative;
    top: 2px;
}

.single .single-post-hero .single-post-hero-content .entry-header .jeg_post_meta .jeg_meta_author .avatar {
    position: relative;
    top: -2px;
    margin-bottom: 0 !important;
}

.single .single-post-hero .single-post-hero-content .entry-header .jeg_post_meta .meta_left {
    margin: 0;
}

.single .single-post-hero .single-post-hero-content .entry-header .jeg_post_meta .meta_right {
    display: none !important;
}

.single .single-post-hero + .container > .jeg_article_top .ads_code {
    padding-bottom: 0;
}

@media (max-width: 991px) {
    .single .post-wrapper .post-wrap:first-child .single-post-hero {
        margin-top: 30px;
    }
    
    .single .single-post-hero-background {
        height: auto;
    }
    
    .single .single-post-hero-background .background-img {
        position: static;
        transform: none;
    }
    
    .single .single-post-hero .single-post-hero-ad {
        bottom: 30px;
    }
    
    .single .single-post-hero .single-post-hero-content {
        position: static;
        text-align: left;
        transform: none;
        margin-top: 30px;
    }
    
    .single .single-post-hero .single-post-hero-content .entry-header {
        max-width: 100%;
        width: 100%;
        margin-bottom: 0;
    }
    
    .single .single-post-hero .single-post-hero-content .entry-header .jeg_post_title {
        color: #011627;
    }
    
    .single .single-post-hero .single-post-hero-content .entry-header .jeg_post_meta {
        /* color: #465561; */
        color: #a0a0a0;
    }
}

/* Text Banner */

.svecc-text-banner a {
    border: 0;
    max-width: 720px;
    padding: 0;
}

/* Socials */

.jeg_author_socials a:hover {
    color: #011627 !important;
}



/**
 * Article Top
 */

/* Play.ht */

.svecc-article-top.svecc-article-top__player {
    margin-bottom: 0;
}

.svecc-article-top__player .playht-iframe-player {
    display: block;
    background: #F7F7F7 !important;
    padding: 10px 16px;
    margin-bottom: 30px;
}

.svecc-article-top__player .playht-iframe-player[article-url=""] {
    display: none !important;
}



/**
 * Home
 */

/* Hero */

/*
.jeg_heroblock.jeg_hero_style_1 .jeg_post {
    transition: all 0.2s ease;
}

.jeg_heroblock.jeg_hero_style_1 .jeg_post:hover {
    opacity: 0.8;
}
*/

.jeg_heroblock.jeg_hero_style_1 .jeg_post .jeg_thumb {
    transform: none;
}

.jeg_heroblock.jeg_hero_style_1 .jeg_post .jeg_postblock_content .jeg_post_title {
    font-size: 30px;
    line-height: 1.35;
    transform: none;
    transition: all 0.2s ease;
}

.jeg_heroblock.jeg_hero_style_1 .jeg_post .jeg_postblock_content .jeg_post_meta {
    opacity: 1;
    transform: none;
}

.jeg_heroblock.jeg_hero_style_1 .jeg_post:hover .jeg_thumb a > div::after {
    opacity: 0;
}

/*
.jeg_heroblock.jeg_hero_style_1 .jeg_post:hover .jeg_postblock_content .jeg_post_title {
    opacity: 0.8;
}
*/

.etoro-ad-posts .jeg_posts > .jeg_ad .jeg_post .jeg_thumb img {
    width: 100%;
}

/* Newsletter Sign Up */

.newsletter-signup .jeg_wrapper {
    border: 6px solid #eee;
    padding: 30px;
}

.newsletter-signup h3 {
    /* text-transform: uppercase; */
    margin-top: 0;
}

.newsletter-signup form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.newsletter-signup .gform_wrapper .gform_body {
    flex-grow: 1;
    margin-right: 15px;
}

.newsletter-signup .gform_wrapper .gform_body .gform_fields .gfield {
    margin-bottom: 0;
}

.newsletter-signup .gform_wrapper .gform_body .gform_fields .gfield + .gfield {
    margin-top: 10px;
}

.newsletter-signup form .gform_footer .gform_button {
    padding: 0 40px;
}

.newsletter-signup .gform_validation_errors,
.newsletter-signup form .gform_body .gfield_label,
.newsletter-signup form .gform_body .gform_validation_container,
.newsletter-signup form .gform_footer img {
    display: none !important;
}

/* Ads */

.home .jeg_block_loadmore {
    margin-bottom: 20px !important;
}

.home .newsletter-signup,
.home .jeg_ad_module {
    margin-top: 40px !important;
    margin-bottom: 50px !important;
}

.jeg_postblock_17 .jeg_posts .jeg_post:last-child {
    margin-bottom: 0;
}

.home .jeg_ad_module > .ads-wrapper > div > p {
    display: none !important;
}



/**
 * Sidebar
 */

/* Reviews */

.widget_svecc_reviews .jeg_post .jeg_postblock_content {
    padding-left: 15px;
}

.widget_svecc_reviews .jeg_post .jeg_postblock_content .jeg_post_title {
    font-size: 14px;
    line-height: 1.7em;
}



/**
 * Courses
 */

.single-sfwd-courses .single-post-hero,
.single-sfwd-courses .single-post-hero + .container,
.single-sfwd-topic .single-post-hero,
.single-sfwd-topic .single-post-hero + .container,
.single-sfwd-lessons .single-post-hero,
.single-sfwd-lessons .single-post-hero + .container {
    display: none !important;
}



/**
 * Footer
 */

#footer {
    border-top: 1px solid #E4E4E4;
    margin-top: 60px;
}

#footer .jeg_footer_secondary {
    border-top-color: #E4E4E4;
}

@media only screen and (max-width: 768px) {
    #footer {
        margin-top: 40px;
    }
}



/**
 * Border Radius
 */

.jeg_share_button a,
.learndash-wrapper .ld-breadcrumbs,
.learndash-wrapper .ld-item-list .ld-item-list-item,
.learndash-wrapper .ld-table-list,
.learndash-wrapper .ld-lesson-status,
.learndash-wrapper .ld-topic-status,
.learndash-wrapper .ld-button,
.learndash-wrapper .ld-expand-button,
.learndash-wrapper .ld-course-status.ld-course-status-enrolled,

body input:not([type=submit]),
body select,
body .chosen-container-single .chosen-single,
body textarea,
body .btn,
body .button,
body input[type=submit],
.jnews-cookie-law-policy .btn-cookie,

.header__sponsored-btn a,
.newsletter-widget form input[type="text"],
.newsletter-widget form .gform_footer input[type="submit"],
.svecc-article-top-etoro-btn a img,
.svecc-article-top-bitstarz-btn a img,
.svecc-article-top .amfeix a,
.svecc-article-bottom .nexo a,
.svecc-article-bottom .affiliates .affiliate .image img,
.svecc-text-banner a,

.btn-changelly a,
.trading-courses .jeg_posts .jeg_post .jeg_thumb .thumbnail-container,

.jeg_menu .menu-item-badge,
.thumbnail-container > img,
.jeg_hero_item_1 .jeg_thumb,
.jeg_block_loadmore a,
.jeg_post_tags a,
.jeg_authorbox,

.jeg_heroblock.jeg_hero_style_1 .jeg_post .jeg_block_container,
.single .single-post-hero .single-post-hero-ad a {
    border-radius: 0 !important;
}



/**
 * Responsive
 */

@media only screen and (max-width: 768px) {
    .jeg_postblock_3 .jeg_post .jeg_thumb,
    .jeg_postblock_17 .jeg_post:first-child .jeg_thumb,
    .jeg_postblock_22 .jeg_post .jeg_thumb,
    .jeg_postblock_3 .jeg_post .jeg_postblock_content,
    .jeg_postblock_17 .jeg_post:first-child .jeg_postblock_content,
    .jeg_postblock_22 .jeg_post .jeg_postblock_content {
        display: block;
        float: none;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    
    .jeg_postblock_3 .jeg_post .jeg_thumb,
    .jeg_postblock_17 .jeg_post:first-child .jeg_thumb,
    .jeg_postblock_22 .jeg_post .jeg_thumb {
        margin-bottom: 12px;
    }
    
    .jeg_heroblock.jeg_hero_style_1 .jeg_post .jeg_postblock_content .jeg_post_title,
    .jeg_postblock_3 .jeg_post .jeg_post_title,
    .jeg_postblock_17 .jeg_post:first-child .jeg_post_title,
    .jeg_postblock_22 .jeg_post .jeg_post_title {
        font-size: 19px !important;
    }
    
    body .entry-header .jeg_post_title,
    .jnews_category_header_top .jeg_cat_header h1 {
        font-size: 24px !important;
    }
}

@media only screen and (max-width: 600px) {
    .newsletter-signup form .gform_footer .gform_button {
        margin-top: 12px;
    }
}

@media only screen and (max-width: 768px) {
    body .jeg_heroblock_9 .jeg_heroblock_wrapper {
        height: unset;
    }
    
    body .jeg_heroblock_9 .jeg_post {
        width: 100%;
        height: 460px;
        padding: 0;
        position: static;
    }
    
    body .jeg_heroblock_9 .jeg_post:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 667px) {
    body .jeg_heroblock_9 .jeg_post {
        height: 320px;
    }
}

@media only screen and (max-width: 568px) {
    body .jeg_heroblock_9 .jeg_post {
        height: 320px;
    }
}

@media only screen and (max-width: 480px) {
    body .jeg_heroblock_9 .jeg_post {
        height: 280px;
    }
}